<nav class="navbar navbar-dark contenedor" >
  <div class="container-fluid">
    <div class="row w-100">
        <div class="col-sm-6">
          <a class="navbar-brand" [routerLink]="['/']">Inicio</a>      
        </div>      
        <div class="col-sm-6">
          <div class="row" style="place-content: end;">
            <button class="btn btn-delivery" style="margin-right: 2rem;" routerLink="/shops">
              <i class="bi bi-list"></i> Turnos     
            </button>
            <button class="btn btn-delivery" routerLink="/solicitud-turno">
              <i class="bi bi-file-text"></i> Solicitar turno
            </button>
          </div>    
        </div>    
    </div>
  </div>
</nav>
