
.btn-delivery{
    background-color:#90e0ef;
    width: 10rem;
    text-align: center;
    border: 1px solid;
 }

 .titulo{
     font-size: 35px;
     font-weight: bold !important;
 }

.contenedor-formulario{
    border: 1px solid;
    border-radius: 1rem;
    padding: 2rem;
}

